html{
  scroll-behavior: smooth;
}
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
}

.navbar{
  display: flex;
  align-items: center;
  padding: 20px;
  background: linear-gradient(65deg ,#69b4ff ,#fda0c5, #ffeac2);
  /*background: #652cb3;
  color: #ffffff;*/
}
nav{
  flex: 1;
  text-align: right;
  font-size: 20px;
  font-weight: bold;
}
nav ul{
  display: inline-block;
  list-style-type: none;
}
nav ul li{
  display: inline-block;
  margin-right: 20px;

}

a{
  text-decoration: none;
  color: #2e0082;
}
.row .col-2 p{
  color: #2e0082;
}
.row .col-2 h1{
  color: #2e0082;
}
.container{
  margin: 0px 20px;
  padding-left: 25px;
  padding-right: 25px;
}
.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col-2{
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 img{
  max-width: 70%;
  padding: 50px 0;
  margin-left: 120px;
}
.col-2 h1{
  font-size: 40px;
  line-height: 60px;
  margin: 25px 0;
  color: #A52A2A;
  font-weight: bolder;
  font-family: 'Playfair Display', serif;
}
.col-2 p{
  color: #A52A2A;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}
.btn{
  display: inline-block;
  background: #fc9fed;
  color: #250152;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  font-weight: bold;
}

.btn:hover{
  background: #8bb1fc;
  color: #250152;
  font-weight: bold;
}

.plate a{
  text-decoration: none;
  color: #dc143c;
}

.plate a:hover{
  color: #ad0213;
  font-weight: 5px;
}

.plate p{
  text-align: right;
  font-weight: bold;
  background: #e6cffc;
  color: #1a013d;
  padding: 5px 30px;
}

.festival{
  background-repeat: no-repeat, repeat;
  background-blend-mode: lighten;
}

/*------------- slider ------------- */

#slider{
  overflow: hidden;
}

#slider h1{
  font-size: 45px;
  line-height: 1.4;
  letter-spacing: 0.5rem;
  text-align: center;
  color: #2e0082;
  margin-top: 50px;
  font-weight: bold;
}

.image-resize{
  height: 400px;
  width: 405px;
}

.image-resize1{
  padding: 10px 10px;
  margin-left: 100px;
  height: 250px;
  width: 255px;
}

#slider figure{
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}

#slider figure carousel{
  width: 40%;
  float: left;
}

@keyframes slider {
  0%{
    left: 0;
  }

  20% {
    left: -50%;
  }

  30%{
    left: -100%;
  }

  40%{
    left: -120%;
  }

  50%{
    left: -150%;
  }

  60%{
    left: -180%;
  }

  70%{
    left: -200%;
  }

  80%{
    left: -220%;
  }

  90%{
    left: -250%;
  }

  100%{
    left: 0%;
  }
}

/* ------- OFFERS ---------*/
#offers #slider h1{
  font-size: 45px;
  color: #2e0082;
  font-weight: bold;
}
/*--- product card -- */
.single-blog{
  box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.2);
  padding: 10px;
  margin-top: 30px;
  background-color: #fff;
}

.single-blog img{
  width: 100%;
}

.blog-meta{
  font-size: 14px;
  margin-bottom: 2px;
}

.blog-text{
  font-size: 14px;
  text-align: justify;
}

.single-blog h2{
  margin-top: 10px;
  font-size: 16px;
  color: #007bff;
}

.single-blog h2 a{
  text-decoration: none;
}

.read-more-btn{
  /*background-image: linear-gradient(to right, #580d78, #f9f2fc);*/
  background: #580d78;
  padding: 5px 12px 8px;
  border-radius: 20px;
  line-height: 20px;
  font-size: 14px;
  color: #fff;
  border: none !important;
  text-decoration: none;
}

.read-more-btn:hover{
  background: #d68ef5;
  text-decoration: none;
  color: #000;
}

.container2{
  padding: 20px 20px;
}

.gotopbtn{
  position: fixed;
  width: 50px;
  height: 50px;
  background: #a778ff;
  bottom: 40px;
  right: 50px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
}

.gotopbtn:hover{
  background: #cdb3fc;
  color: #1a004a;
  font-weight: bold;
}

.row2{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.col-md-4{
  width: 350px;
  height: 100px;
}

/* ----- featured products --- */
.categories{
  margin: 70px 0;
}

.col-3{
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}

.col-3 img{
  width: 300px;
  height: 450px;
}

.col-3 img:hover{
  transform: scale(1.1);
}

.small-container{
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.small-container h2{
  text-align: center;
  color: #ff0000;
  font-weight: bold;
  font-family: 'Tiro Devanagari Hindi', serif;
}

/* -------- card products ----- */
.img-gallery{
  width: 80%;
  margin: 100px auto 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
}

.img-gallery img{
  width: 100%;
  cursor: pointer;
}


.card1 .rating
{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateY(180deg);
  display: flex;
}

.card1 .rating input{
  display: none;
}

.card1 .rating label:before
{
  content: '\f005';
  font-family: 'fontAwesome';
  position: relative;
  display: block;
  font-size: 30px;
  color: #101010;
}

.card1 .rating label:after
{
  content: '\f005';
  font-family: 'fontAwesome';
  position: relative;
  display: block;
  font-size: 30px;
  color: #ffe100;
  top: -30px;
  opacity: 0;
  transition: 0.5s;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.card1 .rating label:hover:after,
.card1 .rating label:hover ~ label:after,
.card1 .rating input:checked ~ label:after
{
  opacity: 1;
}

.card1 .rating label{
  display: block;
  cursor: pointer;
  width: 50px;
}


/* 2nd rating section */

.card1 .rating2
{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateY(180deg);
  display: flex;
}

.card1 .rating2 input{
  display: none;
}

.card1 .rating2 label:before
{
  content: '\f005';
  font-family: 'fontAwesome';
  position: relative;
  display: block;
  font-size: 30px;
  color: #101010;
}

.card1 .rating2 label:after
{
  content: '\f005';
  font-family: 'fontAwesome';
  position: relative;
  display: block;
  font-size: 30px;
  color: #ffe100;
  top: -30px;
  opacity: 0;
  transition: 0.5s;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.card1 .rating2 label:hover:after,
.card1 .rating2 label:hover ~ label:after,
.card1 .rating2 input:checked ~ label:after
{
  opacity: 1;
}

.card1 .rating2 label{
  display: block;
  cursor: pointer;
  width: 50px;
}

/*3rd rating section */

.card1 .rating3
{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateY(180deg);
  display: flex;
}

.card1 .rating3 input{
  display: none;
}

.card1 .rating3 label:before
{
  content: '\f005';
  font-family: 'fontAwesome';
  position: relative;
  display: block;
  font-size: 30px;
  color: #101010;
}

.card1 .rating3 label:after
{
  content: '\f005';
  font-family: 'fontAwesome';
  position: relative;
  display: block;
  font-size: 30px;
  color: #ffe100;
  top: -30px;
  opacity: 0;
  transition: 0.5s;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.card1 .rating3 label:hover:after,
.card1 .rating3 label:hover ~ label:after,
.card1 .rating3 input:checked ~ label:after
{
  opacity: 1;
}

.card1 .rating3 label{
  display: block;
  cursor: pointer;
  width: 50px;
}

/*4th rating section */

.card1 .rating4
{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateY(180deg);
  display: flex;
}

.card1 .rating4 input{
  display: none;
}

.card1 .rating4 label:before
{
  content: '\f005';
  font-family: 'fontAwesome';
  position: relative;
  display: block;
  font-size: 30px;
  color: #101010;
}

.card1 .rating4 label:after
{
  content: '\f005';
  font-family: 'fontAwesome';
  position: relative;
  display: block;
  font-size: 30px;
  color: #ffe100;
  top: -30px;
  opacity: 0;
  transition: 0.5s;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.card1 .rating4 label:hover:after,
.card1 .rating4 label:hover ~ label:after,
.card1 .rating4 input:checked ~ label:after
{
  opacity: 1;
}

.card1 .rating4 label{
  display: block;
  cursor: pointer;
  width: 50px;
}

.sub-title{
  font-size: 50px;
  letter-spacing: 0.5rem;
  color: #300057;
  text-align: center;
  font-weight: 10px;
}

.category{
  font-size: 25px;
  color: #300057;
  text-align: center;
  font-weight: 10px;
  background: #ff0000;
  border-radius: 15px;
  padding: 5px 5px 5px 5px;
}

.img-gallery img:hover{
  transform: scale(1.1);
  display: inline-flex;
  border-radius: 20px;
  box-shadow: 0 32px 75px rgba(68,77,136,0.2);
}

.gallery-arrange{
  padding-left: 50px;
}

#gallery a h4:hover{
  color: #ff0000;
}
/* -- about us & copyright -- */
#aboutus .container1{
  background: #302e2e;
  color: #fff;
  padding-bottom: 30px;
}

tr td:first-child{
  padding-right: 20px;
}

tr td{
  padding-top: 20px;
}

.contact-left{
  flex-basis: 35%;
  padding-left: 30px;
}

.contact-left img{
  width: 170px;
  height: 170px;
}

.contact-right{
  flex-basis: 65%;
  background: #302e2e;
  color: #fff;
  padding: 20px 100px;
  font-size: bold;
}

.contact-left p{
  margin-top: 30px;
  font-weight: bold;
  text-align: justify;
}

.contact-left p i{
  color: #ff773d;
  margin-right: 15px;
  font-size: 25px;
}

.exp2{
  position: relative;
  display: inline-block;
  background: #fda0c5;
  padding: 10px 30px;
  color: #dc143c;
  font-weight: bold;
  font-size: 15px;
  margin-top: 20px;
  margin-left: 50px;
  text-decoration: none;
  border-radius: 15px;
}

.exp2:hover{
  background: #63b4df;
  color: #000;
  font-weight: bold;
}

.container1{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #f4f0ff;
  padding: 10px 40px;
}

.container1 .row2 .contact-left a{
  position: relative;
  display: inline-block;
  background: #e8c7e4;
  padding: 10px 30px;
  color: #482a8b;
  font-weight: 540;
  margin-top: 20px;
  text-decoration: none;
  border-radius: 15px;
  font-weight: 400;
}

.container1 .row2 .contact-left a:hover{
  background: #7d3bb3;
  color: #fff;
  font-weight: 400;
}

tr td:first-child{
  padding-right: 20px;
}

tr td{
  padding-top: 20px;
}

.copyright{
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: linear-gradient(65deg ,#63b4df,#fda0c5, #ffeac2);
  font-size: 300;
  color: #180040;
  font-weight: bold;
}

.contact-right h6{
  font-size: 30px;
  font-weight: 600;
  color: #482a8b;
}

.rachi:hover{
  color: #b50202;
  font-weight: bolder;
}

.srishti:hover{
  color: #b50202;
  font-weight: bolder;
}

.rachi{
  color: #b50202;
  font-weight: bold;
}

.srishti{
  font-weight: bold;
  color: #b50202;
}

/* ------------- form section ---- */
.lformsection{
  display: inline-block;
  text-align: left;
  align-items: center;
  padding-left: 255px;
  padding-right: 275px;
  padding-top: 20px;
  margin-left: 280px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  color: #2e0082;
  background-color: #fcd9ed;
}

.lformsection label{
  font-weight: bold;
  font-size: 20px;
}

.lformsection h2{
  font-weight: bold;
  font-size: 30px;
}

.confirm{
  display: inline-block;
  text-align: left;
  align-items: center;
  padding-left: 255px;
  padding-right: 255px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 80px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  color: #2e0082;
  background-color: #fcd9ed;
}

.confirm h2{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}


.lformsection select{
  width: 420px;
  position: absolute;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background: #e8c7e4;
  font-size: 18px;
  margin: 15px 0;
  color: #000;
}

.lformsection svg{
  padding: 2px 2px;
  margin-top: 2px;
}

.lformsection .tt{
  margin: auto;
}
/*
.dropcont{
  position: relative;
  max-width: 320px;
  width: 100%;
  margin: 80px auto 30px;
  border-radius: 4px;
  background: #e8c7e4;
}

.select-btn{
  display: flex;
  height: 50px;
  align-items: center;
  padding: 0 16px;
  border-radius: 8px;
}

.select-btn .arrow svg{
  display: flex;
  height: 21px;
  width: 21px;
  font-size: 14px;
  border-radius: 50%;
  background: #f5a9c7;
  align-items: center;
  justify-content: center;
}*/

.lformsection checkbox{
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background: #e8c7e4;
  font-size: 18px;
  margin: 15px 0;
  color: #000;
}

.lformsection{
  display: inline-block;
  text-align: left;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
  padding-bottom: 30px;
  margin-left: 290px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  color: #2e0082;
  background-color: #fcd9ed;
}

.btn2{
  display: inline-block;
  background: #fda0c5;
  color: #ff0000;
  padding: 10px 10px;
  margin: 20px 45px;
  border-radius: 30px;
  transition: 0.5s;
  flex-basis: 50%;
  min-width: 5px;
  font-weight: bold;
}
.btn2:hover{
  background: #63b4df;
  color: #2e0082;
  font-weight: bolder;
}
.select {
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}
.label{
  color: #fff;
}

/* festival offer page */
.back img{
  height: 400px;
  width: 1263px;
}

/* countdown timer*/
.cntcontainer {
  background: radial-gradient(#ffeac2 , #fda0c5 );
  color: #2e0082;
  margin: 0 auto;
  padding: 20px 20px;
  text-align: center;
}

.cntcontainer h2 {
  font-weight: normal;
  font-size: 30px;
  letter-spacing: 0.1rem;
  padding: 20px 20px;
  text-transform: uppercase;
}

.cntcontainer #demo{
  font-weight: bold;
  font-size: 65px;
}
/* --------contact--------- */
.contact-left1{
  flex-basis: 35%;
}

.contact-right1{
  flex-basis: 60%;
  background: #c8a1ff;
  padding: 20px 20px;
}

.contact-left1 p{
  margin-top: 30px;
}

.contact-left1 p i{
  color: #ff0000;
  margin-right: 15px;
  font-size: 25px;
}

.btn{
  position: relative;
  display: inline-block;
  background: #e8c7e4;
  padding: 10px 30px;
  color: #482a8b;
  font-weight: 540;
  margin-top: 20px;
  text-decoration: none;
  border-radius: 15px;
  font-weight: 400;
}

.btn:hover{
  background: #7d3bb3;
  color: #fff;
  font-weight: 400;
}

.review .btn{
  position: relative;
  display: inline-block;
  background: #e8c7e4;
  padding: 10px 30px;
  color: #482a8b;
  font-weight: bold;
  margin-top: 20px;
  text-decoration: none;
  border-radius: 15px;
  font-weight: 400;
}

.review .btn:hover{
  background: #7d3bb3;
  color: #fff;
  font-weight: bold;
}

form input, form textarea{
  width: 100%;
  border: 0;
  outline: none;
  background: #e8c7e4;
  padding: 15px;
  margin: 15px 0;
  color: #000;
  font-size: 18px;
  border-radius: 6px;
}

.container1{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #f4f0ff;
  padding: 10px 40px;
}

.container1 .row .contact-left1 a{
  position: relative;
  display: inline-block;
  background: #e8c7e4;
  padding: 10px 30px;
  color: #482a8b;
  font-weight: 540;
  margin-top: 20px;
  text-decoration: none;
  border-radius: 15px;
  font-weight: 400;
}

.container1 .row .contact-left1 a:hover{
  background: #7d3bb3;
  color: #fff;
  font-weight: 400;
}

tr td:first-child{
  padding-right: 20px;
}

tr td{
  padding-top: 20px;
}

.contact-right1 h6{
  font-size: 30px;
  font-weight: 600;
  color: #482a8b;
}

#msg{
  color: #029902;
  margin-top: 10px;
  display: block;
  font-size: 15px;
}

/*--------------- BILLING --------------*/
.bill span{
  color: #ff0000;
  font-weight: bold;
}

.contact-left1 h1{
  font-size: 30px;
}

/*------- redirected page -----*/
.red{
  color: #bd004f;
}

.red h1{
  color: #d10046;
}

.red span{
  color: #000;
}

/*--------------festival img
.leftimg{
  margin: 20px 20px;
  width: 50px;
  height: 50px;
}

.rightimg{
  margin: 20px 20px;
  width: 50px;
  height: 50px;
}

.centreimg{
  width: 200px;
  height: 100px;
}
*/

.back img{
  width: 1263px;
  height: 520px;
}

.diwhead{
  padding: 40px 455px;
  color: #ff0000;
  font-size: 50px;
  text-align: center;
}


/*------------------new footer stylish ---------------*/
footer{
  width: 100%;
  position: absolute;
  background: linear-gradient(65deg ,#69b4ff ,#fda0c5, #ffeac2);
  color: #030583;
  padding: 100px 0 30px;
  border-top-left-radius: 125px;
  font-size: 15px;
  line-height: 20px;
}

.rowf{
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.colf{
  flex-basis: 25%;
  padding: 10px;
}

.colf:nth-child(1), .colf:nth-child(2){
  flex-basis: 16%;
  color: #030583;
}

.colf h3, .colf img{
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
  font-size: 20px;
}

.email-id{
  width: fit-content;
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
}

.colf ul li{
  list-style: none;
  margin-bottom: 12px;
}

.colf ul li a{
  text-decoration: none;
  color: #030583;
}

.rowf form{
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
}

.rowf form .far{
  font-size: 18px;
  margin-right: 10px;
}

.rowf form input{
  width: 100%;
  background: transparent;
  color: #ccc;
  border: 0;
  outline: none;
}

.rowf form button{
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

.rowf form button .fas{
  font-size: 16px;
  color: #ccc;
}

.social-icons .fab{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #030583;
  background: #fff;
  margin-right: 15px;
  cursor: pointer;
}

.logof{
   height: 100px;
   width: 215px;
}

footer hr{
  width: 90%;
  border: 0;
  border-bottom: 2px solid #ccc;
  margin: 20px auto;
}

.copyrightf{
  text-align: center;
}

.underline{
  width: 100%;
  height: 3px;
  background: #767676;
  border-radius: 3px;
  position: absolute;
  top: 30px;
  left: 0;
  overflow: hidden;
}

.underline span{
  width: 15px;
  height: 100%;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moving 2s linear infinite;
}

@keyframes moving {
  0%{
    left: -20px;
  }
  100%{
    left: 100%;
  }
}

@media (max-width: 700px) {
  footer{
    bottom: unset;
  }
  .colf{
    flex-basis: 100%;
  }

  .colf:nth-child(1), .colf:nth-child(2){
    flex-basis: 100%;
  }
}

/*
.review .text{
  font-size: 25px;
  color: #666;
  font-weight: 500;
}
.review .edit{
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 16px;
  color: #666;
  font-weight: 500;
  cursor: pointer;
}
.review .edit:hover{
  text-decoration: underline;
}
.review .star-widget input{
  display: none;
}
.star-widget label{
  font-size: 40px;
  color: #444;
  padding: 10px;
  float: right;
  transition: all 0.2s ease;
}
input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
  color: #fd4;
}
input:checked ~ label{
  color: #fd4;
}
input#rate-5:checked ~ label{
  color: #fe7;
  text-shadow: 0 0 20px #952;
}
#rate-1:checked ~ form header:before{
  content: "I just hate it ";
}
#rate-2:checked ~ form header:before{
  content: "I don't like it ";
}
#rate-3:checked ~ form header:before{
  content: "It is awesome ";
}
#rate-4:checked ~ form header:before{
  content: "I just like it ";
}
#rate-5:checked ~ form header:before{
  content: "I just love it ";
}*/

/*
input:checked ~ form{
  display: block;
}
form header{
  width: 100%;
  font-size: 25px;
  color: #fe7;
  font-weight: 500;
  margin: 5px 0 20px 0;
  text-align: center;
  transition: all 0.2s ease;
}
form .textarea{
  height: 100px;
  width: 100%;
  overflow: hidden;
}
form .textarea textarea{
  height: 100%;
  width: 100%;
  outline: none;
  color: #eee;
  border: 1px solid #333;
  background: #222;
  padding: 10px;
  font-size: 17px;
  resize: none;
}*/
form .btn{
  height: 45px;
  width: 100%;
  margin: 15px 0;
}
form .btn button{
  height: 100%;
  width: 100%;
  background: transparent;
  color: #999;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}
form .btn button:hover{
  background: #1b1b1b;
}

.card1{
  width: 80%;
  margin: 100px auto 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
}
